button, #sub {
  background:    black;
border-radius: 11px;
padding:       30px 65px;
color:         #ffffff;
display:       block;
font:          normal 26px/1 'Roboto', sans-serif;
font-weight: 800;
text-align:    center;
margin-left: auto;
margin-right: auto;
}
#cont {
  margin-top: 16px;
}
h3 {
  text-align: center;
  font:          normal 34px/1 'Roboto', sans-serif;
font-weight: 800;
margin-top: 0;
}
button:hover, #sub:hover {
  background-color: lightblue;
  color: black;
}
#sub {
  margin-top: 15px;
}
#sign, #submit {
  margin-top: 10%;
}
#next {
  display: none;
}
h4 {
  text-align: center;
  font:          normal 24px/1 'Roboto', sans-serif;
font-weight: 800;
}
input {
  display: block;
  margin-left: auto;
margin-right: auto;
  font:          normal 22px/1 'Roboto', sans-serif;
font-weight: 400;
border-radius: 11px;
padding:       10px 55px;
margin-top: 0;
border: 2px black solid;
}
#back {
  position: absolute;
  left: 13%;
  top: 11%;
  border: 0;
  background-color: white;
  color: black;
  padding: 0;
}
select {
  display: block;
  margin-left: auto;
margin-right: auto;
  font:          normal 22px/1 'Roboto', sans-serif;
font-weight: 400;
border-radius: 11px;
padding:       10px 55px;
border: 2px black solid;
}
p {
  color: red;
  text-align: center;
}
